{% extends "base.html" %}

{% block title %}Servers{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/servers.css')}}">
  <script src="{{url_for('static', filename='js/search-table.js')}}"></script>
{% endblock %}

{% block content %}
  {{ super() }}
  <form action="/servers" METHOD="POST" autocomplete="off" id="addServer">
    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="Ip" name="ip">

    <input type="submit" value="Add Server">
  </form>

  <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for servers..." title="Type in a name" autocomplete="off">

  <table id="myTable" class="content-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
  </thead>
  <tbody>
    {% for server in servers %}
      <tr>
        <td data-label="Name">{{server.name}} </td>
        <td data-label="IP">{{server.ip}} </td>
        {% if server.status == "1"%}
        <td data-label="Status"><div style="color: rgb(30, 177, 30);" class="tooltip">Online<span class="tooltiptext">Last Changed: {{server.status_date.strftime("%d/%m/%y %H:%M")}}</span></div></td>
        {% else %}
        <td data-label="Status"><div style="color: red;" class="tooltip">Offline<span class="tooltiptext">Last Changed: {{server.status_date.strftime("%d/%m/%y %H:%M")}}</span></div></td>
        {% endif %}
        <td class="action-images"><a href="servers/edit/{{server.id}}"><img class="img" src="{{url_for('static', filename='images/edit.png')}}" /></a><a href="servers/delete/{{server.id}}"><img
            class="img" src="{{url_for('static', filename='images/remove.png')}}" /></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}